@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0;
    padding: 5px;
    justify-content: center;
    font-family: "Caveat", cursive;
    
    min-height: 100vh;
    
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    */
}
