
.card {
    width: 12rem;
    background: #444;
    color: #e4c439;
    padding: 1rem;
    border-radius: 10px;
    border-top: 0.5px solid #cebf7b;
    border-bottom: 0.5px solid #cebf7b;
    text-align: center;
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /*14px 16px 16px rgba(100, 255, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)*/
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    margin: 10px auto;
    height: 277px;
}
.card > a {
    text-decoration: none;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.card-id {
    background: #cebf7b;
    width: 3.5rem;
    color: #333;
    padding: 0.1rem;
    font-weight: 700;
    position: absolute;
    border-radius: 0 0 10px 0;
    top: 0;
    left: 0;
}
.favorite {
    background: #cebf7b;
    width: 3rem;
    color: #333;
    padding: 0.1rem;
    font-weight: 700;
    position: absolute;
    border-radius: 0 0 0px 10px;
    top: 0;
    right: 0;
}
.card-name {
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
  
.card-image {
    width: 150px;
    display: block;
    margin: auto;
}
  
.card--details {
    font-size: 1.3rem;
    color: #dbca80;
}
.card button {
    border: 0;
    border-radius: 15%;
    height: 27px;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: unset;
    font-weight: bolder;
    padding-top: 0px;
}
button[class='grass']{
    background-color: seagreen;
}
button[class='dark']{
    color: white;
}


@media screen and (max-width: 600px) {
    .card {
        width: 99%;
        margin: 7px 0;
        padding: 3px;
    }
    .card img {
        width: 140px;
    }
}