
/* TABLE */
table {
    overflow-x: auto;
    /*background: url('/images/legendaries/legendaries2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background: #fff;
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}
table > caption {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.9em;
    font-weight: bold;
    font-style: italic;
    color: white;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){color: #000000;}
table tr:hover {background-color: #ddd;}


@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}